.align_left{
	float: left;
	font-size: 25px;
	margin-top: 10px;
	color: grey;
}

.align_right {
	float: right;
	font-size: 25px;
	margin-top: -45px;
}

table{
	width: 100%;
	margin-right: 16px;
	margin-left: -14px;
	font-size: 20px;
	margin-bottom: -30px;
	
}

th{
	font-weight: bold;
	color: grey;
}

.middle{
	background: #3f3f3f;
	color: white;
	padding-bottom: 10px;
	margin-bottom: 10px;

}



.cards{
	display: inline-block;
	width: 49%;
	height: 240px;
	border: 1px solid silver;
	padding-left: 10px;
}

.card-content{
	display: inline-block;
	width: 49%;
}

.thumbnail
{
	float:right;
 	width:45%;
 	height: 100%; 
 	background: #686464; 
 	color: white;
 	text-align: center;

}

.thumbnail p{
	text-align: center;
	margin-top: 35%;
}

a{
	text-decoration: none;
	color: blue;
}

.Dates{
	color: blue;
	font-size: 20px;
	padding-top : 1px;

}

.footer{
	background: #f5f5f5;
	width: 100%;
	text-align: center;
	padding-top: 2%;
	padding-bottom: 2%;
}

.content-2{
	margin-left: 2%;
}

form{
	width: 65%;
	padding: 10px;
	height: 550px;
	margin-top: 30px;
}
form div{
	margin-top: 10px;
}

form div label{
	
	font-weight: bold;
	margin-left: 10px;
}

form div input{
	width: 90%;
	margin-left: 10px;
	padding-top: 5px;
	margin-top: 15px;
	margin-bottom: 20px;
}

.input{
	width: 100px;
	margin-top: 30px;
	border: 2px solid black ;
	border-radius: 10px	;
	text-align: center;
	padding: 5px;
	background: #03AC13;
	color: white;
	height: 50px;
	font-size: 15px;
}

textarea{
	margin-left: 10px;
}


@media(max-width: 400px){
	
	.align_left{
		font-size: 15px;
	}
	center h1{
		font-size: 20px;
	}

	.align_right button{
		font-size: 7px;

	}

	table{
		font-size: 10px;
	}

	.middle h1 i{
		font-size: 30px;
	}

	.middle h4{
		font-size: 10px;
	}

	.middle h3{
		font-size: 10px;
	}
	.cards{
		height: 140px;
		width: 47%;

	}
	.cards div h3{
		font-size: 10px;
	}
	.cards div h1{
		font-size: 15px;
	}

	.cards div p{
		font-size: 7px;
	}
	.cards div a{
		font-size: 10px;
	}

	.cards .thumbnail p{
		font-size: 10px;
		padding-top: 10px;
	}

	.content{
		display: none;

	}

	.content .content-1{
		width: 60%;
	}

	.content .content-2{
		width: 25%;
		margin-left: 10%;
	}

	.content .content-1 h2{
		font-size: 15px;
	}

	.content .content-1 h1{
		font-size: 20px;
	}

	.content .content-1 p{
		font-size: 10px;
	}

	.content .content-1 ul li{
		font-size: 10px;
	}
	.content .content-1 ol li{
		font-size: 10px;
	}

	.content .content-1 button{
		padding: 2px;
	}

	.content .content-2 div h2 i{
		font-size: 15px;
	}

	.content .content-2 div p{
		font-size: 10px;
	}

	.content .content-2 div p {
		font-size: 10px;

	}

	.footer p{
		font-size: 12px;
	}
	
	.footer a{
		font-size: 12px;
	}

	form{
		width: 300px;
	}
	form div label{
		font-size: 10px;
		padding-top: 1%;
	}

	form div input{
		
		width: 60%;
		margin-top: 10px;
	}

	form div .input{
		width: 50%;
		font-size: 10px;
		height: 10%;
	}

	form div textarea{
		
		width: 60%;
	}
}

@media(min-width: 1240px){
	.align_left{
		font-size: 20px;
	}
	center h1{
		font-size: 30px;
	}

	.align_right button{
		font-size: 15px;

	}

	table{
		font-size: 20px;
	}

	.middle h1 i{
		font-size: 62px;
	}

	.middle h4{
		font-size: 20px;
	}

	.middle h3{
		font-size: 25px;
	}

	.cards{
		height: 350px;
		width: 49%;

	}
	.cards div h3{
		font-size: 25px;
	}
	.cards div h1{
		font-size: 50px;
	}

	.cards div p{
		font-size: 20px;
	}
	.cards div a{
		font-size: 15px;
	}

	.cards .thumbnail p{
		font-size: 15px;
		padding-top: 50px;
	}

	.content{
		display: none;

	}

	.content .content-1{
		width: 60%;
	}

	.content .content-2{
		width: 35%;
		margin-left: 5%;
	}

	.content .content-1 h2{
		font-size: 30px;
	}

	.content .content-1 h1{
		font-size: 50px;
	}

	.content .content-1 p{
		font-size: 15px;
	}

	.content .content-1 ul li{
		font-size: 15px;
	}
	.content .content-1 ol li{
		font-size: 15px;
	}

	.content .content-1 button{
		padding: 10px;
	}

	.content .content-2 div h2 i{
		font-size: 30px;
	}

	.content .content-2 div p{
		font-size: 10px;
	}

	.content .content-2 div p {
		font-size: 15px;

	}

	.footer p{
		font-size: 15px;
	}
	
	.footer a{
		font-size: 15px;
	}

	form{
		width: 70%;
		padding: 10px;	
		height: 600px;
		margin-top: 30px;
	}
	form div label{
		font-weight: bold;
		margin-left: 10px;
	}

	form div input{
		
		width: 90%;
		margin-top: 10px;
	}

	form div .input{
		width: 50%;
		font-size: 20px;
		height: 10%;
	}

	form div textarea{
		
		width: 60%;
	}
}